// Runner Target 的应用级配置。
//
// 未来这些内容可能会被基于元数据（例如 pubspec.yaml）自动生成的配置替换。
// 如果没有替换，那么当它作为 `flutter create` 模板使用时，
// 下面这些值会默认回落到项目名称。

// 应用名称。默认情况下也会作为 Flutter 窗口标题显示。
PRODUCT_NAME = flutter_wanandroid

// 应用的 Bundle Identifier
PRODUCT_BUNDLE_IDENTIFIER = com.example.flutterWanandroid

// 应用信息中显示的版权声明
PRODUCT_COPYRIGHT = Copyright © 2026 com.example. All rights reserved.
